.fb-plus-button {
  background-color: white;
  border: none;
  padding: 2px 0 0 2px;
}

.fb-form-label {
  padding-bottom: 0;
}

img {
  opacity: 0.1;
}

img.firebaseui-idp-icon {
  opacity: 1;
}

.fb-post-album {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(110, 63, 163, 1);
  font-weight: normal;
}

.fb-post-woman {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(231, 84, 128, 1);
  font-weight: normal;
}

.fb-post-author {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 156, 209, 1);
  font-weight: normal;
}

.fb-post-tag {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(96, 96, 96, 1);
  font-weight: normal;
}

.fb-card-footer {
  line-height: 1;
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}

@media screen and (min-width: 993px) {
  .bricklayer-column-sizer {
    /* divide by 3. */
    width: 33.3%;
  }
}
